# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/BuildInPublic_Automation/AssetsBIP
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Kiro IDE specs (development planning files)
.kiro/

# VSCode settings (personal IDE preferences)
.vscode/

# Large video files in public folder (too big for GitHub)
public/Project/AV-NewsStream/AVNewsStream.webm
public/Project/AviatorsTrainingCentre/AviatorsTrainingCenter_WalkThrough_720p.mp4
public/Project/BarkatEnterprise/Enterprise_FullWalkThrough.mp4
public/Project/Foodah/Foodah.webm
